body{
    background-color: navajowhite;
}

.resumebody {
    background-color: white;
}
.sub {
    font-weight: lighter;
}
.font {
    font-family:cursive
}

.contact {
    color: darkred;
}

.icon:hover {
    color: whitesmoke
}


a:hover {
    color: hotpink;
    text-decoration: underline
}

.connect {
    text-align: center;
}

.centerimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.green{
    color: green;
    border: 3px greenyellow;
    font-size: smaller;
    font-weight: lighter;
}

.resumefooter {
    background-color: navajowhite;
}

.bullet {
    color: pink;
}
.blockcolor {
    background-color: palevioletred;
    
}

a:hover {
    color: palevioletred;
}
